.navbar-brand img{
    width: 30px;
}

.carousel-item img{
    width: 100vw;
    height: 95vh;
    max-width: 1920px;
    max-height: 1080px;
}

.onas{
    padding-top: 50px;
}

.onas img{
    width: 500px;
}

.onas_txt{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.onas_img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.myHeader{
    padding-bottom: 20px;
}

.myHeader2{
    padding-top: 60px;
}

.margin20{
    margin-top: 20px;
}

.margin10{
    margin-bottom: 15px;
}

.product{
    width: 80%;
    height: 300px;
    border-radius: 10px;
    /* margin-bottom: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    margin-bottom: 20px;
}
.product img{
    width: 200px;
}

.link{
    margin: 15px;
}

.nav-link a:active{
    color: white;
}
